<div id="addproject">
<form id="addproject" action="/newcar" method="post">
  <div class="row">
<div class="span2 offset2">
  <div class="text">
  Car Name
  </div>
  </div>
  <div class="span4">
  <div class="input">
  <input type="text" name="carname" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset2">
   <div class="text">
  Maker
  </div>
  </div>
  <div class="span4">
  <div class="input">
  <input type="text" name="name" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset2">
 <div class="text">
 RFID Tag:
 </div>
 </div>
  <div class="span4">
     <div class="input">
  <input type="integer" name="rfid" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset4">
  <div id="submit">
  <input type="submit"  id="submitImage"  width="100" value="Submit">
  </div>
  </div>
  </div>
</form>

</div>
