<div id="cargallery">

	<h2>NERDY DERBY CAR GALLERY</h2>
	<br />
	<br />

<% @cars.each do |car| %>

<div class="car">
		<div class="cartitle"><%= car.carname %></div>
		<a href="cars/<%= "%010d" % car.rfid %>"><img src="http://172.26.13.201/~itpstudent/Documents/nerdyderby/images/Cars/<%= "%010d" % car.rfid %>.jpg" width= "300"></a>  
		<br>
		<p>Made by <%= car.name %></p>
		<br>
	</div>



<% end %>



