
<% @cars.each do |car| %>

<h2><%= car.carname %></h2>
<h3>by <%= car.name %></h3>
<a href="cars/<%= "%010d" % car.rfid %>"><img src="http://192.168.23.2/~itpstudent/images/Cars/<%= "%010d" % car.rfid %>.jpg" width= "300"></a> 

<% end %>



