<html>
  <head>
  <link rel=Stylesheet type="text/css" href="https://s3.amazonaws.com/kleebtronics-media/css/bootstrap.css" />
 <script src="http://code.jquery.com/jquery-latest.js"></script>
  

 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 
  <title>Nerdy Derby <%= @page_title %></title>
  </head>
  
  
  <body class="<%= @page_title %>">


<%= yield %>


</body>
</html>