<% count = 1 %>
<% @racings.each do |racing| %>
<h1>
<%= count.to_s() + ". " %>
</h1>
<% count = count + 1 %>
<%= millisToTime(racing.duration) %>
<br>
by <%= racing.car.carname %>
<br>
during race: <%= racing.race.id %>
<br>
<% end %>