
<h1>Race #<%= @this_race.id %></h1>
<br>
<% @this_race.racings.each do |racing| %>
<h2><%= racing.car.carname %></h2>
<br>
<h4>by: <%= racing.car.name %></h4>
<br>
Time: <%= racing.duration %>
<br>




<% end %>

